### visual studio
*.sln
*.db
*.exe
*.ilk
*.pdb
*.vcxproj
*.filters
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.tlog
*.suo
*.ipch
*.opendb
### intellij
*.iml
*.xml
*.class
### CLion
*.check_cache
*.log
*.txt
cmake-build-debug/
cmake-build-debug-visual-studio/
.idea/

### Unbuntu
main
!main/


### Desktop help directory...
help/
